<div class="gh-canvas">
    <div class="navigation">
        {{#with prev_post}}
            <a class="navigation-item navigation-previous" href="/{{slug}}">
                <span class="navigation-label">Previous</span>
                <h4 class="navigation-title">{{title}}</h4>
            </a>
        {{/with}}
        {{#with next_post}}
            <a class="navigation-item navigation-next" href="/{{slug}}">
                <span class="navigation-label">Next</span>
                <h4 class="navigation-title">{{title}}</h4>
            </a>
        {{/with}}
    </div>
</div>